<div class="widg_location has_grid" data-init="location">
	<div class="widg_location__map">
		<img src="/widgets/location/media/location_example.png" alt="Beispiel für Karte"/>
	</div>
	<div class="widg_location__info">
		<span class="widg_location__address">{{{address}}}</span>
		<a href="mailto:{{email}}">{{email}}</a>
		<a href="{{buttonTarget}}" class="button">{{langStrings.toTheLocation}}</a>
	</div>
</div>
