<div class="widg_navigation__list" data-navigation-level="{{ level }}" data-navigation="list">
	{{#if title}}
    <h3 class="widg_navigation__subtitle">{{ title }}</h3>
	{{/if}}

  <ul>
			<li>
				<a class="widg_navigation__entry widg_navigation__back" data-navigation="back">Zurück</a>
			</li>
		{{#each items}}
      <li>
				{{#if list}}
          <a class="is_expandable" data-navigation-is-expandable="true" data-navigation="entry">{{title}}</a>

					{{> "widgets/navigation/_subitems" list title=title }}
				{{else}}
          <a href="{{link}}">{{title}}</a>
				{{/if}}
      </li>

		{{/each}}
  </ul>
</div>
