<div class="widg_navigation__list" data-navigation-level="{{ level }}" data-navigation="list">
	{{#if title}}
    <h3 class="widg_navigation__subtitle">{{ title }}</h3>
	{{/if}}

  <ul>
			<li>
				<a class="widg_navigation__entry widg_navigation__back not-default" data-navigation="back">{{ lang.back}}</a>
			</li>
		{{#each entries}}
      <li>
				{{#if list}}
          <a class="is_expandable not-default" data-navigation-is-expandable="true" data-navigation="entry">{{title}}</a>

					{{> "widgets/navigation/_subitems" list title=title lang=../../lang }}
				{{else}}
          <a class="not-default" href="{{url}}">{{title}}</a>
				{{/if}}
      </li>

		{{/each}}
  </ul>
</div>
