<div class="widg_sidebar_events widg_sidebar__object" data-init="sidebar_events" data-sidebar="object">
	<div class="object__title" data-sidebar="title">
		<h4>Infoveranstaltungen</h4>
	</div>
	<div class="object__content" data-sidebar="content">
		<ul>
			{{#each entries}}
				<li>
					<a href="{{url}}">
						<span class="event__title">{{title}}</span>
						<span class="event__date-location">{{dateTime}}, {{location}}</span>
					</a>
				</li>
			{{/each}}
		</ul>
		<a href="{{button.url}}" class="button small_button">
			<span>{{button.text}}</span>
		</a>
	</div>
</div>
