<div class="widg_hero {{#if heroImage}}{{else}}no-image {{/if}}{{#if isHero2}}is_hero2 {{/if}}{{#if profileInfo}}is-profile-hero {{/if}}" data-init="hero">
	{{#if profileInfo}}
		<h1 class="widg_hero__profile-name only-desktop">{{profileInfo.name}}</h1>
	{{/if}}

	{{#if heroImage}}
		<div class="widg_hero__wrapper"><img id="widg_hero__image" src="{{heroImage}}" class="widg_hero__img{{#if profileInfo}} is-profile-hero{{/if}}" {{#if cuttingOption}}data-hero-cutting-option="{{cuttingOption}}" {{else}}default {{/if}}{{#if profileInfo}}alt="{{profileInfo.name}}" {{/if}}/></div>
	{{/if}}

	{{#if breadcrumb}}
		{{> "widgets/breadcrumb/breadcrumb" widgets.breadcrumb entries=breadcrumb.entries}}
	{{/if}}

	{{#if CallToAction.hasCallToAction}}
		<div class="widg_callToAction__wrapper{{#if CallToAction.callToActionVisibleDesktop}}{{else}} cta_hide_desktop{{/if}}{{#if CallToAction.callToActionVisibleMobile}}{{else}} cta_hide_mobile{{/if}}">
			{{> "widgets/calltoaction/calltoaction" widgets.calltoaction}}
		</div>
	{{/if}}

</div>
