<div class="widg_sidebar_application widg_sidebar__object" data-init="sidebar_application" data-sidebar="object">
	<div class="object__title" data-sidebar="title">
		<h4>{{title}}</h4>
	</div>
	<div class="object__content custom-scrollbar" data-sidebar="content">
		<p>{{text}}</p>
		<p class="small">{{note}}</p>
		<button class="button small_button" {{#if button.disabled}}disabled="disabled"{{else}}{{/if}} onclick="window.location.href='{{button.url}}'" >
            <span>{{button.text}}</span>
        </button>
	</div>
</div>
