<div class="widg_teaser__wrapper">
	{{#each teasers}}
    <div class="widg_teaser{{#if variant}} {{variant}}{{/if}} {{#if img}}{{else}}no-image{{/if}}">
			{{#if img}}
        <div class="widg_teaser__img"><img src="/widgets/teaser/media/{{img.src}}"/></div>
			{{/if}}
			{{#if date}}
				<span class="widg_teaser__date">{{date}}</span>
			{{/if}}
			{{#if projectTime}}
				<span class="widg_teaser__project-time">{{../../langStrings.projectTime}}: {{projectTime}}</span>
			{{/if}}
			{{#if category}}
				<span class="widg_teaser__category">{{category}}</span>
			{{/if}}
      <h4>{{title}}</h4>
			{{#if text}}
        <p>{{text}}</p>
			{{/if}}
      <a class="widg_teaser__link" href={{link}}>{{../langStrings.toLinkTarget}} {{title}}</a>
      <span class="widg_teaser__arrow"></span>
    </div>
	{{/each}}
</div>
