{{#if title}}
	<h2 class="teaser__title {{#if isOnStartpage}}is_on_startpage{{/if}}">{{title}}</h2>
{{/if}}
	{{#if description}}
		<p>{{description}}</p>
	{{/if}}
<div class="widg_teaser__wrapper {{#if isOnStartpage}}is_on_startpage{{/if}}">

	{{#if moreButton}}
		<a class="button button__secondary teaser__more-button desktop_only" href="{{moreButton.url}}">{{moreButton.label}}</a>
	{{/if}}
	{{#each teasers}}
    <div class="widg_teaser{{#if variant}} {{variant}}{{/if}} {{#if img}}{{else}}no-image{{/if}}">
			{{#if img}}
        <div class="widg_teaser__img"><img src="{{img.src}}"/></div>
			{{/if}}
			{{#if date}}
				<span class="widg_teaser__date">{{date}}</span>
			{{/if}}
			{{#if projectTime}}
				<span class="widg_teaser__project-time">{{../../langStrings.projectTime}}: {{projectTime}}</span>
			{{/if}}
			{{#if category}}
				<span class="widg_teaser__category">{{category}}</span>
			{{/if}}
      <h4>{{{title}}}</h4>
			{{#if text}}
        <p>{{dotdotdot_teaser text}}</p>
			{{/if}}
      <a class="widg_teaser__link" href="{{url}}">{{../langStrings.toLinkTarget}} {{title}}</a>
      <span class="widg_teaser__arrow"></span>
    </div>
	{{/each}}
	{{#if moreButton}}
		<a class="button button__secondary teaser__more-button only-phone" href="{{moreButton.url}}">{{moreButton.label}}</a>
	{{/if}}
</div>
