<div class="widg_tabnavigation" data-init="tabnavigation">
	{{#if title}}
		<h2>{{title}}</h2>
	{{/if}}
	{{#if description}}
		<p>{{description}}</p>
	{{/if}}
  <nav class="widg_tabnavigation__nav only-desktop">
		<ul class="not-default">
			{{#each tabs}}
				<li>
					<button class="not-default" aria-expanded="false" data-tabnavigation="button">{{title}}</button>
				</li>
			{{/each}}
		</ul>
		<div class="nav__bar" data-tabnavigation="bar"></div>
	</nav>
	<div class="widg_tabnavigation__content">
		{{#each tabs}}
			<div class="content__entry-wrapper">
				<button class="only-phone not-default content__accordeon-button" data-tabnavigation="accordeonButton" aria-expanded="false">{{title}}</button>
				<div class="content__entry" data-tabnavigation="content" aria-hidden="true">
					{{{tabContent}}}
				</div>
      </div>
		{{/each}}
	</div>
</div>
