<div class="widg_so_me_share" data-init="so_me_share">
	<div class="widg_so_me_share__text">{{langStrings.action}}</div>
	<div class="widg_so_me_share__buttons" role="list">
		<a class="facebook not-default" data-share-text="{{facebook.text}}" data-so_me_share="fb" target="_blank" role="listitem"><span class="some-icon"></span><span class="some-text">{{facebook.action}}</span></a>
    <a class="twitter not-default" data-share-text="{{twitter.text}}" data-so_me_share="tweet" target="_blank" role="listitem"><span class="some-icon"></span><span class="some-text">{{twitter.action}}</span></a>
		<a class="mailto not-default" data-share-text="{{mail.text}}" data-so_me_share="mailto" role="listitem"><span class="some-icon"></span><span class="some-text">{{mail.action}}</span></a>
		<a class="print_me not-default" data-share-text="{{print.text}}" data-so_me_share="print" role="listitem"><span class="some-icon"></span><span class="some-text">{{print.action}}</span></a>
	</div>
</div>
