<div class="widg_searchpage" data-init="searchpage" data-lang-all="{{langStrings.all}}" data-lang-title="{{langStrings.allResults}}" data-lang-link="{{langStrings.more}}" data-lang-to-profile="{{langStrings.toProfile}}" data-lang-email-label="{{langStrings.email}}" data-lang-phone-direct="{{langStrings.phoneDirect}}" data-lang-phone-central="{{langStrings.phoneCentral}}" data-json-url="{{jsonURL}}">
	<div class="fhnw-spinner"></div>
	<div class="search__results">
    <div class="widg_searchpage__more-wrapper element-hidden" data-searchpage="moreResultsBtnWrapper">
      <button class="widg_searchpage__more-btn not-default" data-searchpage="moreResultsBtn">Mehr laden</button>
    </div>
	</div>
</div>
