<div class="widg_searchpage" data-init="searchpage" data-lang-further-occasions="{{langStrings.furtherOccasions}}"
	data-lang-on-request="{{langStrings.onRequest}}" data-lang-all="{{langStrings.all}}"
	data-lang-title="{{langStrings.allResults}}" data-lang-link="{{langStrings.more}}"
	data-lang-to-profile="{{langStrings.toProfile}}" data-lang-email-label="{{langStrings.email}}"
	data-lang-phone-direct="{{langStrings.phoneDirect}}" data-lang-phone-central="{{langStrings.phoneCentral}}"
	data-json-url="{{jsonURL}}" data-filter-url="{{filterURL}}">
	<div class="search__results">
		<span data-category="studies"></span>
		<span data-category="training"></span>
		<span data-category="web"></span>
		<span data-category="profiles"></span>
		<span data-category="events"></span>
		<span data-category="documents"></span>
		<span data-category="irf"></span>
		<span data-category="expertises"></span>
		<span data-category="organization"></span>
		<span data-category="sonst"></span>
		<span data-category="news"></span>
	</div>
	<div class="fhnw-spinner">{{langStrings.moreResultsGetLoaded}}<br><br></div>

	<span class="is_hidden search__lang-results" data-lang-plural="{{langStrings.resultsFoundPlural}}"
		data-lang-singular="{{langStrings.resultsFoundSingular}}" data-lang-no-results="{{langStrings.noResultsFound}}">
	</span>
</div>