<div class="widg_info_teaser" data-init="info_teaser">
  <h2>{{title}}</h2>
  <img src="{{img.src}}" alt="{{img.alt}}"/>
	<p>{{{text}}}</p>
	<h3>{{langstrings.nextInfoEvents}}</h3>
	<ul class="not-default">
		{{#each events}}
			<li>
				<a href="{{url}}" class="not-default">
					<span class="event-date">{{date}}</span>
					<span class="event-time">{{time}}</span>
					<span class="event-location">{{location}}</span>
				</a>
			</li>
		{{/each}}
	</ul>
	<a class="button" href="{{allURL}}">Alle anzeigen</a>
	<span class="event-room_info">
		{{roomInfo}}
	</span>
</div>
