<div class="widg_in_content_search" data-init="in_content_search">
	<h3>{{title}}</h3>
	<div class="widg_in_content_search__form">
		<form action="{{searchFilterPageURL}}" method="get">
      <div class="search__holder in_content_search__holder in_content_search__holder___wide  select2__wrapper">
		<select id="faculty" name="faculty" data-searchparam="faculty" class="custom-select" multiple="multiple">
		  {{#each facultyOptions}}
							<option value="{{optionValue}}" {{#if selected}}selected{{/if}}>{{optionLabel}}</option>
						{{/each}}
		</select>
        <label class="formQuestion" for="faculty">{{langstrings.chooseExpertise}}</label>
      </div>
      <div class="search__holder in_content_search__holder select2__wrapper">
		<select id="study_type" name="study_type" data-searchparam="study_type" class="custom-select" multiple="multiple">
		  {{#each studyTypeOptions}}
			  <option value="{{optionValue}}" {{#if selected}}selected{{/if}}>{{optionLabel}}</option>
		  {{/each}}
		</select>
        <label class="formQuestion" for="study_type">Typ</label>
      </div>
			<div class="in_content_search__holder">
				<button type="submit" class="in_content_search__button">{{langStrings.search}}</button>
			</div>
		</form>
	</div>
  <div class="in_content_search__links">
    <a class="in_content_search__link" href="{{searchFilterPageURL}}?extended=true">{{langStrings.extendedSearch}}</a>
    <a class="in_content_search__link" href="{{searchFilterPageURL}}?si=true">{{langStrings.showAllOffers}}</a>
  </div>
</div>
