{{#extend "layouts/layout" pageTypeClass="search-page"}}
	{{#content "hero"}}
		{{> "widgets/hero/hero" widgets.hero}}
	{{/content}}
	{{#content "content"}}
		<h1 id="search-title" data-searchpage="title">{{title}}</h1>

		<div class="search__wrapper" data-searchpage-template="training_full" data-searchpage-category="training" data-searchpage="formWrapper" role="search">
			<div class="search__form-wrapper">
				<div>
					<div class="search__holder select2__wrapper">
						<select id="taxonomy_subjectarea" name="taxonomy_subjectarea" data-searchparam="taxonomy_subjectarea" class="custom-select" multiple="multiple">
							{{#each widgets.facultyOptions}}
								<option value="{{optionValue}}">{{optionLabel}}</option>
							{{/each}}
						</select>
						<label class="formQuestion" for="taxonomy_subjectarea">{{widgets.label_faculty}}</label>
					</div>
					<div class="search__holder select2__wrapper">
						{{#each widgets.studyTypeOptions}}
							{{#if hide}}
								<span aria-hidden="true" class="is_hidden taxonomy_eduproducttype_hidden_option" data-value="{{optionValue}}" data-text="{{optionLabel}}"></span>
							{{/if}}
						{{/each}}
						<select id="taxonomy_eduproducttype" name="taxonomy_eduproducttype" data-searchparam="taxonomy_eduproducttype" class="custom-select" multiple="multiple">
							{{#each widgets.studyTypeOptions}}
								{{#unless hide}}
									<option value="{{optionValue}}" >{{optionLabel}}</option>
								{{/unless}}
							{{/each}}
						</select>
						<label class="formQuestion" for="taxonomy_eduproducttype">{{widgets.label_type}}</label>
					</div>
					<div class="search__holder select2__wrapper">
						<select id="city" name="city" data-searchparam="city" class="custom-select" multiple="multiple">
							{{#each widgets.locationOptions}}
								<option value="{{optionValue}}">{{optionLabel}}</option>
							{{/each}}
						</select>
						<label class="formQuestion" for="city">{{widgets.label_location}}</label>
					</div>
					<div class="search__holder">
						<div class="search__string">
							<input type="text" value="" id="search-string" name="search-string" data-searchpage="query" data-searchparam="q"/>
							<label class="formQuestion" for="search-string">{{widgets.label_search}}</label>
						</div>
					</div>
				</div>
				<!-- #858
				<div class="search__second-row" data-searchpage="expandedFilters">
					<div class="search__holder select2__wrapper">
						<select class="custom-select custom-select___long has_optgroup" name="taxonomy_competence" id="taxonomy_competence" data-searchparam="taxonomy_competence" data-placeholder="">
							{{#each widgets.competenceOptions}}
								<option value="{{optionValue}}">{{optionLabel}}</option>
							{{/each}}
						</select>
						<label class="formQuestion" for="taxonomy_competence">{{widgets.label_topic}}</label>
						<span class="custom-select___remover" aria-hidden="true"></span>
					</div>
				</div>
				-->

				<div class="search__third-row">
					<div class="search__extra-holder">
						<!--<button class="search__expander not-default" data-searchpage="extendBtn">{{widgets.label_advanced_search}}</button>-->
						<button class="search__reset not-default" data-searchpage="reset">{{widgets.label_reset_fields}}</button>
					</div>
					<div class="search__extra-holder element-hidden">
						<span data-searchpage="countNumber"></span>&nbsp;<span class="search__countNumber___text"></span>
					</div>
				</div>

			</div>
			{{> "widgets/searchpage/searchpage" widgets.searchpage }}
		</div>

	{{/content}}
{{/extend}}
