<div class="widg_follow_us" data-init="follow_us">
	{{#if title}}
		<h2>{{title}}</h2>
	{{/if}}
	{{#if description}}
		<p class="text__lead">{{description}}</p>
	{{/if}}
	<div class="follow_us">
		<ul class="not-default">
			{{#each links}}
			 {{#if_not type equals="aacsb"}}
					<li>
						<a href="{{url}}" class="follow__{{type}}">{{title}}</a>
					</li>
				{{/if_not}}
			{{/each}}
		</ul>
		{{#each links}}
			{{#if_equal type equals="aacsb"}}			
				<a href="{{url}}" class="follow__{{type}}"></a>
			{{/if_equal}}
		{{/each}}	
	</div>
</div>