<div class="widg_follow_us" data-init="follow_us">
	{{#if title}}
		<h2>{{title}}</h2>
	{{/if}}
	{{#if description}}
		<p class="text__lead">{{description}}</p>
	{{/if}}
	<ul class="not-default">
		{{#each links}}
			<li>
				<a href="{{url}}" class="follow__{{type}}">{{title}}</a>
			</li>
		{{/each}}
	</ul>
</div>
