<div class="widg_follow_us" data-init="follow_us">
	{{#if title}}
		<h2>{{title}}</h2>
	{{/if}}
	{{#if description}}
		<p class="text__lead">{{description}}</p>
	{{/if}}
	<div class="follow_us">
		<ul class="not-default">
			{{#each links}}
				{{#unless extra}}
					<li>
						<a href="{{url}}" class="follow__{{type}}">{{title}}</a>
					</li>
				{{/unless}}
			{{/each}}
		</ul>
		{{#each links}}
			{{#if extra}}
				<a href="{{url}}" class="follow__{{type}}"></a>
			{{/if}}
		{{/each}}
	</div>
</div>
