<!doctype html>
<!--[if IE 7]>         <html lang="en" class="no-js ie7 lte-ie9 lte-ie8 lte-ie7"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js ie8 lte-ie9 lte-ie8">         <![endif]-->
<!--[if IE 9]>         <html lang="en" class="no-js ie9 lte-ie9">                 <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en" class="no-js">                         <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{#if title}}{{title}} – {{/if}}{{project}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/assets/css/main{{#unless env.dev}}.min{{/unless}}.css{{#if env.ver}}?{{env.ver}}{{/if}}">

  <link rel="apple-touch-icon" sizes="57x57" href="/assets/media/icons/device/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/media/icons/device/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/media/icons/device/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/media/icons/device/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/media/icons/device/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/media/icons/device/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/media/icons/device/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/media/icons/device/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/media/icons/device/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/assets/media/icons/device/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/media/icons/device/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/media/icons/device/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/media/icons/device/favicon-16x16.png">
  <link rel="manifest" href="/assets/media/icons/device/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/assets/media/icons/device/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

	{{#if env.dev}}
		<link rel="stylesheet" href="/assets/css/dev.css">
	{{/if}}

  <script src="/assets/js/head{{#unless env.dev}}.min{{/unless}}.js{{#if env.ver}}?{{env.ver}}{{/if}}"></script>

	{{#if env.dev}}
		<script src="/assets/js/dev.js"></script>
	{{/if}}

  <script type="text/javascript" src="https://fast.fonts.net/jsapi/bc81933a-a353-421f-9055-6274c625f4a9.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcDRcaQnzeQSjZQgeZSfhxrqwPXWKsYUY&libraries=places"></script>
</head>
<body>

<div class="page_wrapper {{wrapperClass}}">
	{{#block "page_wrapper"}}

  {{> "widgets/header/header" widgets.header}}

  <div class="layout_wrapper {{pageTypeClass}}" id="main">
		<div class="hero">
			{{#block "hero"}}
			{{/block}}
		</div>
    <main id="maincontent" class="layout_content">
      {{#block "content"}}
      {{/block}}

			{{#if widgets.soMeShare}}
				<div class="content__element content__element___bleed content__element___top-bordered">
					{{> "widgets/so_me_share/so_me_share" widgets.soMeShare }}
				</div>
			{{/if}}
    </main>

		{{#block "metainfo"}}
		{{/block}}


    {{> "widgets/footer/footer" widgets.footer}}
  </div>

	{{> "widgets/actionbuttons/actionbuttons" widgets.actionbuttons}}

	{{/block}}

	{{> "widgets/toplink/toplink"}}
</div>




	<script src="/assets/js/main{{#unless env.dev}}.min{{/unless}}.js{{#if env.ver}}?{{env.ver}}{{/if}}"></script>

	{{#block "scripts"}}
		{{#if meta.testScripts}}
			{{> "preview/partials/qunit"}}
		{{/if}}
	{{/block}}
</body>
</html>
