{{#extend "layouts/layout"}}
	{{#content "hero"}}
		{{> "widgets/hero/hero" widgets.hero}}
	{{/content}}
	{{#content "content"}}
		<div class="page_content">
			{{#if event_detail }}
			<p>{{event_detail.event_date}} | {{event_detail.university}}</p>
			{{/if}}
			<h1>{{title}}</h1>
			<p class="text__lead">
				{{text__lead}}
			</p>
			{{> "widgets/mobile_content_navigation/mobile_content_navigation" widgets.mobileContentNavigation}}
      <div class="content__element">
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
      </div>
				<!-- Start Application Accordeon -->
				<div class="widg_accordeon" data-init="accordeon" {{#if multiple}}data-multiple="true"{{/if}} role="list">
					<!-- Custom html structure if its the accordeon for an online application. -->
					<h2>Koordinaten zu diesem Anlass</h2>
					<div class="widg_accordeon__entry" id="{{get_id title}}" data-accordeon="entry" role="listitem">
						<button aria-expanded="false" class="not-default" data-accordeon="button">
							{{event_detail.event_date}} | {{event_detail.location_short}}
						</button>
						<div class="widg_accordeon__content" aria-hidden="true" data-accordeon="content" style="margin-bottom: 20px;">
							<h3 style="margin-top: 0px;">Ort</h3>
							<p>Hochschule für Wirtschaft FHNW<br />
								Mustergasse 37<br />
								Raum A-XYZ<br />
								5200 Brugg<br />
								<a href="">Google Maps</a>
							</p>
							<h3>Kosten</h3>
							<p>Die Teilname ist kostenlos.</p>
							<h3>Veranstalter</h3>
							<p>Hochschule für Wirtschaft<br />
								Institut für Finanzmanagement
							</p>
						</div>
					</div>
					<div class="widg_accordeon__entry" id="{{get_id title}}" data-accordeon="entry" role="listitem">
						<button aria-expanded="false" class="not-default" data-accordeon="button">
							Weitere Informationen
						</button>
						<div class="widg_accordeon__content" aria-hidden="true" data-accordeon="content">
							<p>Weitere Informationen finden Sie auf der Webseite des Anlasses</p>
						</div>
					</div>
				</div>
				<!-- End Application Accordeon -->

		</div> <!-- / END PAGE CONTENT -->
		{{> "widgets/subnav/subnav" widgets.subnav heroImage=widgets.hero.heroImage}}
		{{> "widgets/sidebar/sidebar" widgets.sidebar}}
	{{/content}}
{{/extend}}
