<div class="widg_promoteaser widg_header__hide-on-shrinked" data-init="promoteaser">
	<div class="widg_promoteaser__inner">
		<div class="widg_promoteaser__img">
			<img src="{{img.src}}" alt="{{img.alt}}"/>
		</div>
		<p class="widg_promoteaser__text">{{{text}}}</p>
		<a href="{{url}}" class="widg_promoteaser__button button__icon not-default">
			{{buttonText}}
		</a>
	</div>
</div>
