<div class="widg_image_gallery" data-init="image_gallery">
	{{#if title}}
		<h2>{{title}}</h2>
	{{/if}}
	{{#if description}}
		<p>{{description}}</p>
	{{/if}}
	<div class="image_gallery__slider slider-remote" data-image_gallery="slider">
		{{#each slides}}
			<div class="image_gallery__slide">
				<img src="{{img.src}}" alt="{{img.alt}}"/>
			</div>
		{{/each}}
	</div>
	<div class="image_gallery__legend slider-remote" data-image_gallery="legend">
		{{#each slides}}
			<span>{{legend}}</span>
		{{/each}}
	</div>
	{{#if thumbnails_active}}
		<div class="widg_image_gallery_thumbs slider-remote" data-image_gallery="thumbs">
			{{#each thumbs}}
				<img src="{{this.src}}" alt="{{this.alt}}" />
			{{/each}}
		</div>
	{{/if}}
</div>
