<div class="widg_blockquote {{#if img}}has-img{{/if}}" data-init="blockquote">
	{{#if img}}
		{{#if testimonialTitle}}<h2>{{testimonialTitle}}</h2>{{/if}}
		<div class="blockquote__img">
			<img src="{{img.src}}" alt="{{img.alt}}"/>
		</div>
	{{/if}}

		<div class="blockquote__quote">
			<p>{{quote}}</p>
			<span class="blockquote__author">{{author}}</span>

			{{#if testimonialLink}}
				<a href="{{testimonialLink}}" class="button button__primary blockquote__button">{{langStrings.readMore}}</a>
			{{/if}}
		</div>

</div>
