<div class="widg_sidebar_contact widg_sidebar__object" data-init="sidebar_contact" data-sidebar="object">
		<div class="object__title" data-sidebar="title">
			<h2>{{title}}</h2>
		</div>
		<div class="object__content" data-sidebar="content">
			{{#each contacts}}
				{{#if img}}
					<img src="{{img.src}}" alt="{{img.alt}}"/>
				{{/if}}
				<dl>
					<dt class="contact__name"><a href="{{url}}">{{name}}</a></dt>
					<dd>{{#if jobDescr}}{{jobDescr}}{{/if}}</dd>
					<dt>{{../langStrings.telephone}}</dt>
					{{#if telephone}}<dd class="contact__phone"><a href="tel:{{telephone}}">{{telephone}}</a> {{#if telephone_addon}}({{telephone_addon}}){{/if}}</dd>{{/if}}
					{{#if telephone_2}}<dd class="contact__phone last"><a href="tel:{{telephone_2}}">{{telephone_2}}</a> {{#if telephone_addon_2}}({{telephone_addon_2}}){{/if}}</dd>{{/if}}
					<dt>{{../langStrings.email}}</dt>
					<dd><a href="mailto:{{email}}">{{email}}</a></dd>

					{{#if location}}
						<dt>{{../langStrings.location}}</dt>
						<dd>{{{location}}}</dd>
					{{/if}}

					{{#if room}}
						<dt>{{../langStrings.room}}</dt>
						<dd>{{{room}}}</dd>
					{{/if}}
				</dl>
			{{/each}}
		</div>
</div>
