<div class="object__title" data-sidebar="title" data-init="keydata" data-lang-show-more="{{ langStrings.showMore }}" data-lang-show-less="{{ langStrings.showLess }}">
			<h2 id="edu_title" class="edu__title">{{title}}</h2>
</div>
<dl class="edu__key_data">
	{{#each entries}}
		<div class="datas">
			<dt>{{{title}}}</dt>
			<dd>{{{text}}}</dd>
		</div>
	{{/each}}
</dl>
<div class="toggler">
	<a class="show-more button small_button"></a>
</div>
