<div class="widg_somelinks" data-init="somelinks">
  <a href="{{xingURL}}" title="{{xingTitle}}" target="_blank" data-somelink-target="xing"></a>
  <a href="{{twitterURL}}" title="{{twitterTitle}}" target="_blank" data-somelink-target="tw"></a>
  <a href="{{fbURL}}" title="{{fbTitle}}" target="_blank" data-somelink-target="fb"></a>
</div>
