<div class="widg_application_accordeon" data-init="application_accordeon" {{#if multiple}}data-multiple="true"{{/if}}>
  <h2>{{title}}</h2>
  <p>{{{description}}}</p>
  <!-- Custom html structure if its the accordeon for an online application -->
		{{#each entries}}
      <div class="widg_accordeon__entry" data-application-accordeon="entry">
        <div class="widg_accordeon__button">
					<button class="not-default" aria-expanded="false" data-application-accordeon="button">
            {{#if availableSeats}}
            <span class="button__availability {{availabilityState}}"></span>
            {{/if}}
            <span class="button__location">
              {{eventLocation}}
            </span>
						<span class="button__date">
							<span class="accessibility-hidden" id="date-{{uid}}">{{../langStrings.eventStart}}: </span>
							<span aria-describedby="date-{{uid}}">{{eventStart}}</span>
						</span>


          </button>
					<button onclick="window.location.href='{{btnUrl}}'" class="button button__apply mini_button" {{#if applicationIsActive}}{{else}}disabled="disabled"{{/if}}>{{applyLabel}}</button>
				</div>
        <div class="widg_accordeon__content" aria-hidden="true" data-application-accordeon="content">
          <dl>
						{{#each informationEntries}}
							{{#if text}}
								<div class="application-accordeon__entry">
									<dt>{{label}}</dt>
									<dd>{{text}}
										{{#if iCalURL}}
											<a class="ical" href="{{iCalURL}}">iCal</a>
										{{/if}}
									</dd>
								</div>
							{{/if}}
						{{/each}}
          </dl>
					<a href="{{btnUrl}}" class="button button__apply button__apply___inside small_button">Anmelden</a>
					<p class="additional-information">{{additionalInformation}}</p>
        </div>
      </div>
		{{/each}}
</div>
