<div class="widg_event_detail content__element" data-init="event_detail">
  <div class="event__info">
    <h3>{{langStrings.date_and_time}}</h3>
    <p>{{ event_detail.event_date }} <a class="ical" href="{{event_detail.url}}/@@ics_view">iCal</a></p>
      {{#if event_detail.place_description}}
        <h3>{{langStrings.location}}</h3>
        {{{event_detail.place_description}}}
      {{/if}}
      {{#if event_detail.show_title}}
        <h3>{{langStrings.organizer}}</h3>
      {{/if}}
      <p>
        {{#if event_detail.oe_labels}}
          {{#each event_detail.oe_labels}}
            {{this}}<br/>
          {{/each}}
        {{/if}}
        {{#if event_detail.organizer_name}}
          <br/>
          {{{event_detail.organizer_name}}}
        {{/if}}
      </p>
      <p>
        {{#if event_detail.costs}}
          <h3>{{langStrings.costs}}</h3> 
          <p>{{event_detail.costs}}</p>
        {{/if}}
        {{#if event_detail.teachinglanguage}}
          <h3>{{langStrings.language}}</h3> 
          <p>{{event_detail.teachinglanguage}}</p>
        {{/if}}
      </p>
  </div>
</div>
