<div class="widg_sidebar_news widg_sidebar__object" data-init="sidebar_news" data-sidebar="object">
		<div class="object__title" data-sidebar="title">
			<h2>{{title}}</h2>
		</div>
		<div class="object__content" data-sidebar="content">
			{{#each contacts}}
				{{#if img}}
					<img src="{{img.src}}" alt="{{img.alt}}"/>
				{{/if}}
				<dl>
					<dt class="contact__name"><a href="{{url}}">{{name}}</a></dt>
					<dd>{{#if jobDescr}}{{jobDescr}}{{/if}}</dd>
					<dt>{{../langStrings.telephone}}</dt>
					<dd><a href="tel:{{telephone}}">{{telephone}}</a></dd>
					<dt>{{../langStrings.email}}</dt>
					<dd><a href="mailto:{{email}}">{{email}}</a></dd>

					{{#if location}}
						<dt>{{../../langStrings.location}}</dt>
						<dd>{{{location}}}</dd>
					{{/if}}
				</dl>
			{{/each}}
		</div>
</div>

