<div class="mod_teasers">
	<form action="#">
		{{#each fields}}
			<div>
				<input type="{{type}}" value="{{value}}" id="{{value}}{{@index}}" name="{{name}}" />
				<label for="{{value}}{{@index}}">{{label}}</label>
			</div>
		{{/each}}
	</form>
</div>
