<div class="widg_accordeon" data-init="accordeon" {{#if multiple}}data-multiple="true"{{/if}} role="list">
  <!-- Custom html structure if its the accordeon for an online application. -->
	{{#if title}}
		<h2 id="{{get_id title}}">{{title}}</h2>
	{{/if}}
	{{#if description}}
		<p class="text__lead">{{description}}</p>
	{{/if}}

	{{#each entries}}
    <div class="widg_accordeon__entry mce-item-anchor" id="{{get_id title}}" data-accordeon="entry" role="listitem">
      <button aria-expanded="false" class="not-default" data-accordeon="button">
				{{title}}
      </button>
      <div class="widg_accordeon__content" aria-hidden="true" data-accordeon="content">
				{{#if contactData}}
					{{> "widgets/contact/contact" contactData}}
				{{else}}
					{{{accordeonContent}}}
				{{/if}}

      </div>
    </div>
	{{/each}}
</div>
