<div class="widg_linklist" data-init="linklist">
	{{#if title}}
			<h2>{{title}}</h2>
	{{/if}}
	{{#if description}}
		<p>{{description}}</p>
	{{/if}}
	<ul class="not-default">
		{{#each listEntries}}
			<li class="widg_linklist___entry {{#if isExternal}}is_external{{/if}}">
				<a href="{{url}}">
					{{#if img}}
						<div class="widg_linklist__img-wrapper">
							<img src="{{img.src}}" alt="{{img.alt}}"/>
						</div>
					{{/if}}

          <h3 class="childless">{{title}}</h3>
          <p>
            {{#if news_detail}} {{news_detail.news_date}} | {{news_detail.university}}  {{/if}}
          	{{#if event_detail}} {{event_detail.event_date}} , {{event_detail.location_short}}  {{/if}}
		  </p>
          
          <p>{{entryText}}</p>
				</a>
			</li>
		{{/each}}
	</ul>

</div>
