<div class="widg_contact" data-init="contact" role="list">
	<h2>{{title}}</h2>
	{{#each persons}}
		<div class="widg_contact__entry" role="listitem">
			<div class="widg_contact__portrait">
				<div class="widg_contact__portrait__img">
					{{#if contactPageURL}}
						<a href="{{contactPageURL}}"><img src="{{img.src}}" alt={{img.alt}}/></a>
					{{else}}
						<img src="{{img.src}}" alt={{img.alt}}/>
					{{/if}}
				</div>
			</div>
			<div class="widg_contact__name">
				{{#if contactPageURL}}
					<a href="{{contactPageURL}}"><span class="widg_contact__label">{{fullname}}</span></a>
				{{else}}
					<span class="widg_contact__label">{{fullname}}</span>
				{{/if}}
					<span class="widg_contact__text">{{jobDescription}}</span>
			</div>
			<div class="widg_contact__phone">
				<span class="widg_contact__label">{{../langStrings.telephone}} :</span>
				{{#if phone_addon}}<span class="widg_contact__text"><a href="tel:{{phone}}">{{phone}}</a> ({{phone_addon}})</span>{{/if}}
				{{#if phone_addon_2}}<span class="widg_contact__text"><a href="tel:{{phone_2}}">{{phone_2}}</a> ({{phone_addon_2}})</span>{{/if}}
			</div>
			<div class="widg_contact__email">
				<span class="widg_contact__label">{{../langStrings.email}} :</span>
				<span class="widg_contact__text"><a href="mailto:{{email}}">{{email}}</a></span>
			</div>
		</div>
	{{/each}}
</div>
