<div class="widg_expertise_areas" data-init="expertise_areas" data-landingpage-url="{{landingpageURL}}">
	<h2>{{title}}</h2>
	<p>{{text}}</p>
  <div class="select2__wrapper">
    <select class="custom-select custom-select___long has_optgroup" name="topic" id="topic" data-searchparam="topic" data-placeholder="">
      <option value=""></option>
			{{#each options}}
				<option value="{{expertiseID}}">{{expertiseTitle}}</option>
			{{/each}}
    </select>
    <label class="formQuestion" for="topic">Wählen sie eine Kompetenz aus...</label>
    <span class="custom-select___remover" aria-hidden="true"></span>
  </div>
	<a class="expertise_areas__link" href="{{link.url}}">{{link.title}}</a>
</div>
