<div class="widg_edu_events widg_sidebar__object" data-init="edu_events" data-sidebar="object">
	<div class="object__title" data-sidebar="title">
		<h2 id="edu__events" class="edu__title">{{title}}</h2>
	</div>
	<div class="object__content" data-sidebar="content">
		{{#each entries}}
			<span class="event__date-location">{{dateTime}}, {{location}}</span>
			<span class="event__title"><a href="{{url}}">{{title}}</a></span>
		{{/each}}
	</div>
	<div class="align__btn">
		<a href="{{button.url}}" class="btn small_button">
			<span>{{button.text}}</span>
		</a>
	</div>
</div>
