<div class="widg_subnav {{#if heroImage}}{{else}}widg_subnav___no-hero{{/if}}" data-init="subnav">
	{{#if title}}
    <div class="widg_subnav__title {{#if subtitle}}has-subtitle{{/if}}">
      <div class="widg_subnav__main-link">
        <a href="{{titleUrl}}">

					{{#if logo}}
          	<img class="widg_subnav__logo" src="{{logo}}" alt="Logo {{title}}"/>
					{{/if}}
        	<h2>{{title}}</h2>
				</a>
      </div>
			{{#if subtitle}}
        <div class="widg_subnav__subtitle">
          <span>{{subtitle}}</span>
        </div>
			{{/if}}
    </div>
	{{/if}}
  <div class="widg_subnav__list">
    <ul>
			{{#each entries}}
        <li>
          <a href={{url}} class="{{#if isBack}}is_back{{/if}}">{{title}}</a>
        </li>
			{{/each}}
    </ul>
  </div>
</div>
