<div class="widg_newsletter_subscription" data-init="newsletter_subscription">
	<form>
		<span class="ns__label">{{formLabel}}:</span>
    <div class="ArchetypesStringWidget field ns__field">
      <input type="email" id="ns__email" data-rule-required="true" data-msg-required="{{msg.required}}" data-rule-email="true" data-msg-email="{{msg.email}}"/>
      <label class="formQuestion" for="ns__email">{{fieldLabel}}</label>
      <div class="fieldErrorBox"></div>
    </div>
		<button type="submit">{{buttonLabel}}</button>
	</form>
</div>
