<div class="event_search__wrapper" data-init="event_search" data-searchpage-template="events_full"
  data-searchpage-category="events" data-searchpage="formWrapper" role="search">
  <div class="search__form-wrapper">
    <div>
      {{#if title}}
      <h2>{{title}}</h2>
      {{/if}}
      <p>
        {{#if description}}
        {{description}}
        {{/if}}
      </p>
      <div>
        <div class="search__holder__searchstring">
          <div class="search__string">
            <input type="text" value="" id="search-string" name="search-string" data-searchpage="query"
              data-searchparam="q" />
            <label class="formQuestion" for="search-string">{{widgets.label_search}}</label>
          </div>
        </div>
      </div>
      <div>
        <div class="search__holder select2__wrapper {{#if filter_school}}hidden{{/if}}">
          <select id="school" name="school" data-searchparam="school" class="custom-select" multiple="multiple">
            {{#each widgets.school_options}}
            <option value="{{optionValue}}" {{#if selected}}selected{{/if}}>{{optionLabel}}</option>
            {{/each}}
          </select>
          <label class="formQuestion" for="school">{{widgets.label_school}}</label>
        </div>
        <div class="search__holder select2__wrapper {{#if filter_eventtype}}hidden{{/if}}">
          <select id="eventtype" name="eventtype" data-searchparam="eventtype" class="custom-select"
            multiple="multiple">
            {{#each widgets.eventtype_options}}
            <option value="{{optionValue}}" {{#if selected}}selected{{/if}}>{{optionLabel}}</option>
            {{/each}}
          </select>
          <label class="formQuestion" for="eventtype">{{widgets.label_type}}</label>
        </div>
        <div class="search__holder select2__wrapper {{#if filter_location}}hidden{{/if}}">
          <select id="location" name="location" data-searchparam="location" class="custom-select" multiple="multiple">
            {{#each widgets.locationOptions}}
            <option value="{{optionValue}}" {{#if selected}}selected{{/if}}>{{optionLabel}}</option>
            {{/each}}
          </select>
          <label class="formQuestion" for="location">{{widgets.label_location}}</label>
        </div>
        <div class="search__holder select2__wrapper hidden">
          <select id="subject" name="subject" data-searchparam="subject" class="custom-select" multiple="multiple">
            {{#each widgets.subject}}
            <option value="{{optionValue}}" {{#if selected}}selected{{/if}}>{{optionLabel}}</option>
            {{/each}}
          </select>
        </div>
      </div>
    </div>
    <div class="search__third-row">
      <div class="search__extra-holder">
        <button class="search__reset not-default" data-searchpage="reset">{{widgets.label_reset_fields}}</button>
      </div>
      <div class="search__extra-holder element-hidden">
        <span data-searchpage="countNumber"></span>
        <span class="search__countNumber___text"></span>
      </div>
    </div>
  </div>
  {{> "widgets/searchpage/searchpage" widgets.searchpage }}
</div>