<nav class="widg_breadcrumb {{#if entries}}{{else}}no-entries{{/if}}" data-init="breadcrumb">
  <ul>
		{{#each entries}}
      <li class="{{extraClasses}}">
				{{#if extraClasses}}
        	<a class="not-default" href="{{url}}" alt="{{title}}"></a>
				{{else}}
					<a class="not-default protip" 
						href="{{url}}"
						data-pt-title="{{title}}"
						data-pt-position="bottom"
						data-pt-scheme="black"
						data-pt-skin="default"
						data-pt-arrow="false"
						data-pt-size="small"
						data-pt-width="500"
						>
						{{title}}
					</a>
				{{/if}}
      </li>
		{{/each}}
  </ul>
  <span data-breadcrumb="extendstring" style="display: none" aria-hidden="true">{{langStrings.extend}}</span>
</nav>
