<nav class="widg_breadcrumb {{#if entries}}{{else}}no-entries{{/if}}" data-init="breadcrumb">
  <ul>
		{{#each entries}}
      <li class="{{extraClasses}}">
				{{#if extraClasses}}
        	<a class="not-default" href="{{url}}" alt="{{title}}"></a>
				{{else}}
					{{#if lastBreadcrumb}}
						<p data-pt-title="{{title}}">{{title}}</p>
					{{else}}
					<a class="not-default protip {{#if lastBreadcrumb}}no-link{{/if}}" href="{{url}}" alt="{{title}}" data-pt-title="{{title}}">
						{{title}}
					</a>
					{{/if}}
				{{/if}}
      </li>
		{{/each}}
  </ul>
  <span data-breadcrumb="extendstring" style="display: none" aria-hidden="true">{{langStrings.extend}}</span>
</nav>