<div id="location-map">
<div class="only-phone">
	{{> "widgets/accordeon/accordeon" widgets.locationAccordeon }}
  <div class="widg_accordeon" data-init="accordeon">
		{{#each entries}}
      <div class="widg_accordeon__entry" data-accordeon="entry">
        <button aria-expanded="false" class="not-default" data-accordeon="button">
					{{navTitle}}
        </button>
        <div class="widg_accordeon__content" aria-hidden="true" data-accordeon="content">
          <div class="accordeon__location"><img class="location__map-image"
                                                src="{{mobileImage.src}}"
                                                alt="{{mobileImage.alt}}"/>
            <div class="location__upper"><h3>{{title}}</h3>
              <div class="location__address">
								<span>{{address.name}}</span>
								<span>{{address.department}}</span>
								<span>{{address.street}}</span>
								<span>{{address.zipCity}}</span>
              </div>
              <div class="location__contact">
                <dl>
                  <dt>{{../langStrings.telephone}}:</dt>
                  <dd><a href="tel:{{contactData.telephone}}" tabindex="0">{{contactData.telephone}}</a></dd>
                  <dt>{{../langStrings.email}}:</dt>
                  <dd><a href="mailto:{{contactData.email}}">{{contactData.email}}</a></dd>
                </dl>
              </div>
              <a class="button small_button" href="{{locationPageURL}}" tabindex="0">{{../langStrings.moreInfoForLocation}}</a></div>
            <div class="location__inferior"><a href="{{routeURL}}" target="_blank" tabindex="0"><span>{{../langStrings.calcRoute}}</span></a>
            </div>
          </div>

        </div>
      </div>
		{{/each}}
  </div>
</div>
