<div id="location-map">
<div class="bleed__inner site-has-sidebar">
	{{#if locationTitle}}<h2>{{locationTitle}}</h2>{{/if}}
	{{#if locationDescription}}<p>{{locationDescription}}</p>{{/if}}
</div>
<div class="widg_location_slider {{#if oneMapOnly}}all-locations{{/if}}" data-init="location_slider"
		 data-maps-marker="{{marker}}">
	<nav>
		<ul data-location_slider="nav-list">
			{{#each entries}}
				<li>
					<button data-location_slider="nav-option">{{navTitle}}</button>
				</li>
			{{/each}}
			<div class="widg_location__nav-bar" data-location_slider="bar"></div>
		</ul>
	</nav>


	<div class="slider" data-location_slider="slider">
		{{#if oneMapOnly}}
			<div class="location__slide">
				<div class="location__map" data-location_slider="map"></div>

				{{#each entries}}
					{{#if placeID}}
						<span class="location__marker-temp" data-location_slider="markerData" data-location-title="{{title}}"
									data-placeId="{{placeID}}"></span>
					{{else}}
						<span class="location__marker-temp" data-location_slider="markerData" data-location-title="{{title}}"
									data-coordinates-x="{{coordinates.x}}" data-coordinates-y="{{coordinates.y}}"></span>
					{{/if}}

					<div class="location__info" data-location-target="{{title}}">
						<div class="location__upper">
							<h3>{{title}}</h3>
							<div class="location__address">
								<span>{{address.name}}</span>
								<span>{{address.department}}</span>
								<span>{{address.street}}</span>
								<span>{{address.zipCity}}</span>
							</div>
							<div class="location__contact">
								<dl>
									<dt>{{../langStrings.telephone}}:</dt>
									<dd><a href="tel:{{contactData.telephone}}">{{contactData.telephone}}</a></dd>
									<dt>{{../langStrings.email}}:</dt>
									<dd><a href="mailto:{{contactData.email}}">{{contactData.email}}</a></dd>
								</dl>
							</div>
							{{#if locationPageURL}}
								<a class="button small_button" href="{{locationPageURL}}">{{../langStrings.moreInfoForLocation}}</a>
							{{/if}}
						</div>
						<div class="location__inferior">
							<a href="{{routeURL}}" target="_blank"><span>{{../langStrings.calcRoute}}</span></a>
						</div>
					</div>
				{{/each}}

			</div>
		{{else}}
			{{#each entries}}
				<div class="location__slide">
					{{#if placeID}}
						<div class="location__map" data-placeId="{{placeID}}"
								 data-location_slider="map" data-zoomlevel="{{zoomLevel}}"></div>
					{{else}}
						<div class="location__map" data-coordinates-x="{{coordinates.x}}" data-coordinates-y="{{coordinates.y}}"
								 data-location_slider="map" data-zoomlevel="{{zoomLevel}}"></div>
					{{/if}}

					<div class="location__info">
						<div class="location__upper">
							<h3>{{title}}</h3>
							<div class="location__address">
								<span>{{address.name}}</span>
								<span>{{address.department}}</span>
								<span>{{address.street}}</span>
								<span>{{address.zipCity}}</span>
							</div>
							<div class="location__contact">
								<dl>
									<dt>{{../langStrings.telephone}}:</dt>
									<dd><a href="tel:{{contactData.telephone}}">{{contactData.telephone}}</a></dd>
									<dt>{{../langStrings.email}}</dt>
									<dd><a href="mailto:{{contactData.email}}">{{contactData.email}}</a></dd>
								</dl>
							</div>
                            {{#if locationPageURL}}
							  <a class="button small_button" href="{{locationPageURL}}">{{../langStrings.moreInfoForLocation}}</a>
                            {{/if}}
						</div>
						<div class="location__inferior">
							<a href="{{routeURL}}" target="_blank"><span>{{../langStrings.calcRoute}}</span></a>
						</div>
					</div>
				</div>
			{{/each}}

		{{/if}}
	</div>
</div>

<div class="only-phone">
	{{> "widgets/accordeon/accordeon" widgets.locationAccordeon }}
	<div class="widg_accordeon" data-init="accordeon">
		{{#each entries}}
			<div  class="widg_accordeon__entry" data-accordeon="entry" >
				<button aria-expanded="false" class="not-default" data-accordeon="button">
					{{navTitle}}
				</button>
				<div class="widg_accordeon__content" aria-hidden="true" data-accordeon="content">
					<div class="accordeon__location">
						<img class="location__map-image" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-location_slider="static-map" alt=""/>

						<div class="location__upper"><h3>{{title}}</h3>
							<div class="location__address">
								<span>{{address.name}}</span>
								<span>{{address.department}}</span>
								<span>{{address.street}}</span>
								<span>{{address.zipCity}}</span>
							</div>
							<div class="location__contact">
								<dl>
									<dt>{{../langStrings.telephone}}:</dt>
									<dd><a href="tel:{{contactData.telephone}}" tabindex="0">{{contactData.telephone}}</a></dd>
									<dt>{{../langStrings.email}}:</dt>
									<dd><a href="mailto:{{contactData.email}}">{{contactData.email}}</a></dd>
								</dl>
							</div>
                            {{#if locationPageURL}}
							   <a class="button small_button" href="{{locationPageURL}}" tabindex="0">{{../langStrings.moreInfoForLocation}}</a></div>
                            {{/if}}
						<div class="location__inferior"><a href="{{routeURL}}" target="_blank" tabindex="0"><span>{{../langStrings.calcRoute}}</span></a>
						</div>
					</div>

				</div>
			</div>
		{{/each}}
	</div>
</div>
</div>
