<div class="widg_extendedlinks" data-init="extendedlinks">
	{{#if title}}
		<h2>{{title}}</h2>
	{{/if}}
	{{#if description}}
		<p>{{description}}</p>
	{{/if}}
	{{#each links}}
		<div class="widg_extendedlinks__entry {{#if date}}has_date{{/if}} {{#if description}}has_description{{/if}}">
			<a href={{url}}>
				{{#if date}}
          <span class="widg_extendedlinks__date">{{date}}</span>

				{{/if}}
        <h3 class="childless">{{title}}</h3>

				{{#if description}}
        	<p>{{description}}</p>
				{{/if}}
			</a>
		</div>
	{{/each}}
	{{#if moreButton}}
    <a class="button button__secondary mini_button extendedlinks__more-button" href="{{moreButton.url}}">{{moreButton.label}}</a>
	{{/if}}
</div>
