<div class="widg_productbar" data-init="productbar" aria-hidden="true">
	<span class="widg_productbar__type">
		{{courseType}}
	</span>
	<span class="widg_productbar__title">
		{{courseTitle}}
	</span>
	<div>
		<a href="{{infoEventsTarget}}" class="anchor-link">{{langStrings.infoEvents}}</a>
  	<a href="{{onlineApplicationTarget}}" class="button">{{langStrings.toApplication}}</a>
  </div>
</div>
