<div class="widg_carousel" data-init="carousel">
  <div class="widg_carousel__slider" data-carousel="slider">
		{{#each slides}}
      <div class="widg_carousel__slide" data-carousel="slide" data-carousel-cat="{{ category }}"
           data-carousel-title="{{ title }}" data-carousel-link="{{ url }}">
				{{#if image}}
          <img src="{{ image }}" alt="{{ title }}" data-carousel="slide-img"/>
				{{/if}}
				{{#if video}}
          <video data-carousel="slide-video">
            <source src="{{video}}" type="video/mp4">
          </video>
				{{/if}}      </div>
		{{/each}}
  </div>

</div>

<button class="not-default widg_carousel__scroll" aria-hidden="true"></button>

<div class="widg_carousel__info-box" data-carousel="info-box">
  <a href="#" data-carousel="link">
		<span class="widg_carousel__category" data-carousel="category">
		Studium Weiterbildung Forschung Dienstleistung
		</span>
    <span class="widg_carousel__title" data-carousel="title">
			Fachhochschule Nordwestschweiz
		</span>

    <span class="widg_carousel__arrow" aria-hidden="true"></span>

    <div class="widg_carousel__progress">
      <div data-carousel="progressbar"></div>
    </div>
  </a>
</div>
