<div class="widg_full_bleed_teaser" data-init="full_bleed_teaser">
	<div class="full_bleed_teaser__img">
		<img src="{{img.src}}" alt="{{img.alt}}"/>
	</div>

	<div class="widg_teaser">

		{{#if category}}
			<span class="widg_teaser__category">{{category}}</span>
		{{/if}}
		<h4>{{{title}}}</h4>
		{{#if description}}
			<p>{{dotdotdot_teaser description}}</p>
		{{/if}}
		<a class="widg_teaser__link" href="{{url}}">{{title}}</a>
		<span class="widg_teaser__arrow"></span>
	</div>

</div>
