<div class="widg_full_bleed_teaser" data-init="full_bleed_teaser">
	<div class="full_bleed_teaser__img" style="background: url({{ img.src }}) no-repeat;">
		<div class="full_bleed__widg_teaser">
			<img srcset="{{ img.src }}/@@images/image/f_home_small 340w, {{ img.src }}/@@images/image/f_home_middle 750w, {{ img.src }} 1200w" alt="{{img.alt}}"/>
			{{#if category}}
			<span class="widg_teaser__category">{{category}}</span>
			{{/if}}
			<h3 class="widg_teaser__title childless">{{{title}}}</h3>
			{{#if description}}
			<p>{{dotdotdot_teaser description}}</p>
			{{/if}}
			<a class="widg_teaser__link" href="{{url}}">{{title}}</a>
			<span class="widg_teaser__arrow"></span>
		</div>
	</div>
</div>
