<div class="widg_full_bleed_teaser" data-init="full_bleed_teaser">
	<div class="full_bleed_teaser__img" style="background: url({{ img.src }}) no-repeat;">
		<div class="full_bleed__widg_teaser">
			{{#if img}}
				<div class="widg_teaser__img"><img src="{{img.src}}" alt=""/></div>
			{{/if}}

			{{#if category}}
			<span class="widg_teaser__category">{{category}}</span>
			{{/if}}
			<h3 class="widg_teaser__title childless">{{{title}}}</h3>
			{{#if description}}
			<p>{{dotdotdot_teaser description}}</p>
			{{/if}}
			<a class="widg_teaser__link" href="{{url}}">{{title}}</a>
			<span class="widg_teaser__arrow"></span>
		</div>
	</div>
</div>
