<div class="widg_full_bleed_teaser" data-init="full_bleed_teaser">
	<div class="full_bleed_teaser__img">
		<img src="{{img.src}}" alt="{{img.alt}}"/>
	</div>
	<div class="full_bleed_teaser__text">
		<h2>{{title}}</h2>
		<p>{{description}}</p>
		<a class="button" href="{{url}}">{{linkText}}</a>
	</div>
</div>
